{{ range $path, $pathItem := .Resource.Document.Paths -}}
{{ range $method, $operation := $pathItem|operations -}}
export {{ "{" }} {{ $operation.OperationID }} {{ "}" }} from './{{ $operation.OperationID }}';
{{ end }}
{{- end -}}
