openapi: 3.0.3
{{ if .Stability -}}
x-snyk-api-stability: {{ .Stability }}
{{ end -}}
info:
  title: {{ .API }}
  version: 3.0.0
servers:
  - url: /api/{{ .API }}
    description: {{ .API|capitalize }} API
paths:
  /{{ .Resource }}:
    post:
      description: Create a new {{ .Resource }}
      operationId: create{{ .Resource|capitalize }}
      responses:
        '200':
          description: Created {{ .Resource }} successfully
    get:
      description: List instances of {{ .Resource }}
      operationId: list{{ .Resource|capitalize }}
      responses:
        '200':
          description: Returns a list of {{ .Resource }} instances
  /{{ .Resource }}/{{ "{" }}{{ .Resource|uncapitalize }}Id{{ "}" }}:
    get:
      description: Get an instance of {{ .Resource }}
      operationId: get{{ .Resource|capitalize }}
      parameters:
        - { $ref: '#/components/parameters/{{ .Resource|capitalize }}Id' }
      responses:
        '200':
          description: Returns an instance of {{ .Resource }}
    patch:
      description: Update an instance of {{ .Resource }}
      operationId: update{{ .Resource|capitalize }}
      parameters:
        - { $ref: '#/components/parameters/{{ .Resource|capitalize }}Id' }
      responses:
        '200':
          description: Instance of {{ .Resource }} is updated.
    delete:
      description: Delete an instance of {{ .Resource }}
      operationId: delete{{ .Resource|capitalize }}
      parameters:
        - { $ref: '#/components/parameters/{{ .Resource|capitalize }}Id' }
      responses:
        '204':
          description: Instance of {{ .Resource }} is deleted.
components:
  parameters:
    {{ .Resource|capitalize }}Id:
      name: {{ .Resource|uncapitalize }}Id
      in: path
      required: true
      description: Unique identifier for {{ .Resource }} instances
      schema:
        type: string
